.gr-1 {
    background: linear-gradient(170deg, #0DA50A 0%, #ADF1AC 80%);
    }
    .gr-2 {
      background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
    }
    .gr-3 {
      background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
    }
    .opacity1{
      opacity: .5;
      background-color: rgb(0, 0, 0);
      color: #fff;
    }
    
    .cardhp{
      opacity: .5;
      background-color: rgb(0, 0, 0);
      color: #fff;
    
    }
    
    
    
    /* Graficas principal */
    #sales-doughnut-chart-us, #sales-doughnut-chart-nl, #sales-doughnut-chart-de {
                    height: 280px;
                    margin-top: 1rem;
                    width: 100%;
    
                }
    
                #page-views-spline-area-chart, #orders-spline-area-chart, #revenue-spline-area-chart {
                    height: 100px;
                    width: 100%;
                }
    
                #users-doughnut-chart, #users-spline-chart {
                    height: 280px;
                    margin-top: 2rem;
                    width: 100%;
                }
    
                #users-countries-bar-chart {
                    height: 360px;
                    margin-top: 2rem;
                    width: 100%;
                }
    /* Fin Graficas principal */
    
    
    .h1t{
        font-size: 3em;
        font-weight: bold;
        padding: 0;
        color:#75293d ;
        size: 10px;
        
    }
    
    
    .fondo1{
        
        /*background-image: url(../assets/media/bg/bg-cdmx.png);*/
        background-repeat: no-repeat;
        background-position:center ;
        background-position-y: top;
    
    }
    
    
    .titulo_card{
        background: #75293db9;
        color: seashell;
    
    }
    
    .h2{
        font-size: 10px;
    
    }
    
    .nav2 {
      background-color: #75293d;
      color: #fff;
      padding: 1px;
      font-family: tahoma;
    }
    
    .new2 {
      background-color: #ffffff;
      padding: 10px;
      float: left;
      color: #fa0000;
      font-size: 15px;
      font-weight: bold;
    }
    
    #news2 {
      padding: 10px;
      float: left;
      font-weight: bold;
    }
    
    .clear2 {
      clear: both;
    }
    .fondolateral{
        background-image: url(../assets/media/bg/bg-cdmx_bn.png);
        background-repeat: no-repeat;
        background-position:center bottom ;
    
    }
    
    .container-busqueda{
        position: relative;
        margin: 3px 5px;
         /* width: 1150px;*/
        padding: 0px 0;
        clear: both;
       /* border: 1px solid;*/
        /*background: #f9f0ec;*/
    }
    
    
    .botonbusqueda{
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 7px 13px;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        background-color: #0a5507;
        border-color: #048f10;
        color: #fff;
        
    }
    
    .formulario-tkt
    {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #e6eae5e6;
        background-clip: border-box;
        border: 1px solid #0f4006;
        border-radius: 0.25rem;
        color: #000000;
        align-items: center;
    
    }
    